<div class="wrapper">
    <div class="content">
        <div class="title">
            <h1>DARE</h1>
        </div>
        <div class="enter">
            <a href="/dare" class="btn btn-outline-light pulse animated infinite" id="cta">We Dare You To Enter</a>
        </div>
    </div>
</div>