<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            {{!-- nav area --}}
            <div class="col-lg-3 bg-dark nav">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <p class="logo">DARE</p>
                        </div>
                    </div>

                    <div class="row board-links">
                        <div class="col-12">
                            <h3>Dare Boards</h3>
                            <div class="board-wrapper">
                                {{#each board}}
                                <a href="/{{boardname}}">{{boardname}}</a>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="row posting">
                        <div class="col-12">
                            <h3>Create Dare</h3>
                            <form>
                                <input id="name" type="text" placeholder="name">
                                <input id="description" type="text" placeholder="description">
                                <input id="category" type="text" placeholder="category">
                                <input id="value" type="text" placeholder="value">
                                <button id="newDare" type="submit" class="btn btn-primary">Create Dare</button>
                            </form>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-lg-9 bg-light dare-div">
                <div class="row dares">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://placehold.it/200x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://placehold.it/200x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://placehold.it/200x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://placehold.it/200x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://placehold.it/200x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://placehold.it/200x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://placehold.it/200x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="http://placehold.it/200x200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>