/* Home Route Styles */

.btn-primary {
    background-color: #DD99B7;
    border-collapse: rgb(228, 94, 152);
}

.btn-primary:hover {
    background-color: rgb(235, 88, 151);
    border-collapse: rgb(245, 63, 142);
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #333; 
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.content .title h1 {
    letter-spacing: 60px;
    text-indent: 60px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 20px;
    border: none;
    font: normal 150px/1 "Monoton", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255,17,119) , 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,119) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.enter {
    margin-top: 50px;
}

button:hover {
    text-shadow: 0 0 5px rgb(255,255,255) , 0 0 10px rgb(255,255,255) , 0 0 15px rgb(255,255,255) , 0 0 20px rgb(255,17,119) , 0 0 35px rgb(255,17,119) , 0 0 40px rgb(255,17,119) , 0 0 50px rgb(255,17,119) , 0 0 75px rgb(255,17,119) ;
}

input {
    width: 100%;
}

#newDare, 
#find {
    width: 100%;
}

/* Main View Styles */

.main-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.logo {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 20px;
    border: none;
    font: normal 50px/1 "Monoton", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 40px rgb(255,17,119) , 0 0 70px rgb(255,17,119) , 0 0 80px rgb(255,17,119) , 0 0 100px rgb(255,17,119) , 0 0 150px rgb(255,17,119) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.main-wrapper h3 {
    color: #fff;
}

.main-wrapper hr {
    background-color: #ECBAD0;
}

.board-links {
    overflow: hidden;
}

.dares {
    margin-top: 20px;
}

.card {
    margin-top: 15px;
}

.card-body {
    border: 1px solid purple;
}

.doit {
    width: 100%;
}

/* /awaiting bounties style */

.await {
    margin: 10px auto;
}